.about-section{
    margin: 10px auto 40px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.about-heading{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
    padding-bottom: 20px;
}
