.details-section {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 100px;
    background-color: #fefbf5;
    font-family: 'Arial', sans-serif;
}

.details-images {
    margin: 20px auto;
    width: 80%;
    display: flex;
    gap: 20px;
}

.left-large, .top-small, .bottom-small {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.left-large {
    width: 65%;
    height: 500px;
    background-color: #ddd;
}

.right-small {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-small, .bottom-small {
    width: 100%;
    height: 240px;
    background-color: #bbb;
}

.prop-details {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.prop-details h2 {
    color: #333;
}

.prop-details h4 {
    color: #555;
    margin-top: 20px;
}

.details-address {
    font-size: 1.4em;
    color: #777;
}

.prop-summary {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 20px 0;
}

.prop-summary li {
    margin: 10px 20px;
    padding: 10px;
    width: 180px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.prop-summary li strong {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.prop-summary li br {
    display: none;
}

.prop-details h5 {
    color: #555;
    margin-top: 20px;
    border-bottom: 1px solid #b2ccd1;
    padding-bottom: 5px;
}

.left-prop-details,
.right-prop-details{
    width: 60%;
    height: 100%;
}

.first-prop-details{
    display: flex;
}

.right-prop-details{
    display: flex;
    font-size: 1.2em;
    margin-top: 70px;
    padding-left: 20%;
}

.faicon-details{
    font-size: 1.2em;
    padding: 0 5px;
}