header{
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(12, 18, 32, 0.8);
    display: flex;
}

.logo{
    width: 5%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.logo img.companylogo{
    width: auto;
    height: 70px;
}

.title{
    width: 30%;
    height: inherit;
    padding-left: 10px;
    color: white;
}

.title .top-title{
    width: 100%;
    height: 65%;
}

.title .top-title h1{
    font-size: 3em;
    justify-content: center;
    margin-bottom: 0;
    font-weight: 600;
    padding-top: 5px;
}

.title .btm-title{
    width: 100%;
    height: 35%;
}

.btm-title-h2{
    margin-top: 0;
    font-size: 1.15em;
    font-weight: 600;
}

.navbar{
    width: 75%;
    height: inherit;
}

.nav-item{
    text-transform: uppercase;
    font-size: 0.88em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 10px;
    color: #fff;
}

.nav-item:hover{
    color: bisque;
}

.nav-item.active{
    color: bisque !important;
    font-weight: 900 !important;
}

.searchbuttonhome{
    border: none;
    padding-left: 2px;
    color: white;
    background-color: transparent;
}

.searchbuttonhome:hover,
.searchbuttonhome:active,
.searchbuttonhome:focus
{
    background-color: transparent !important;
    color: white !important;
}

.searchbox{
    border: none;
    border-bottom: 1px solid #7f7f7f;
    border-radius: 0;
    outline: none;
    background-color: transparent !important;
    color: #fff !important;
}

.searchbox:focus {
    border: none;
    border-bottom: 1px solid #7f7f7f;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

@media screen and (max-width:'768px'){
    .container{
        display: flex;
        flex-direction: row-reverse;
    }
}