.admin-dashboard{
    padding-top: 0;
    background-color: red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebar-left{
    width: 20%;
    height: 100%;
}

.dashboard-content{
    width: 80%;
    background-color: #F5F5F5;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-summary{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

